<!DOCTYPE html>
<html>
<head>
	<title>EduardoChat</title>
	<link rel="stylesheet" href="/foursquare/stylesheets/bootstrap.css" />
	<link rel="stylesheet" href="/foursquare/stylesheets/style.css" />
	<style>
	  #map {
	    height: 300px;
			width: 600px;
			margin: auto;
	  }
	  html, body {
	    height: 100%;
	    margin: 0;
	    padding: 0;
	  }
	</style>
</head>
<body>
	<div class="container">
      <nav class="navbar navbar-default navbar-custom navbar-fixed-top" id="main-nav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Navigate</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" id="brand" href="#">EduardoChat</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="nav-button" href="./">Dashboard</a>
                    </li>
                    <li>
                        <a class="nav-button" href="./locations">Chats Cercanos</a>
                    </li>
                    <li>
                        <a class="nav-button" href="./my_chats">Mis Chats</a>
                    </li>
                    <li>
                        <a class="nav-button" href="./arquicoins">Arquicoins</a>
                    </li>
                    <li>
                        <a class="nav-button" href="./users/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          {{{body}}}
        </div>


      </div>

      <footer class="footer">
        <p>&copy; 2016 EduardoChat.</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>
