<h2 class="page-header">Mis Chats</h2>

<div id="mapholder"></div>
<p id="demo"></p>
<div id="chats"></div>
<h5>Aca puedes encontrar todos los chat cuales tienes permiso para ingresar </h5>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
$(document).ready(get_chats);

function get_chats () {

  console.log("entra a get_chats");
  $.ajax({
      url: "/my_chats_list/",
      type: "Get",

      complete: function() {
          console.log('process complete');
      },

      success: function(data) {
          var HTML = ""
          for (var i = 0; i < data.length; i++) {
              var obj = data[i];
              HTML += '<a class="location-link" ' + "href=/locations/" + obj.id + ">" + obj.name + "</a>";
          }
          document.getElementById("chats").innerHTML = HTML;
          console.log('process success');
      },

      error: function() {
          console.log('process error');
      },
  });

}
</script>
